body{
    background: rgb(0, 155, 49);
}
a:hover{
    color: brown;
    font-size: 40px;
}
#mainnavcontainer{
    background-color: aqua;
    text-align: center;
    color: rgb(22, 14, 3);
    padding: 1px;
    border-radius: 25%;
}
#mainnavbarlistwrappar{
    list-style-type: none;
    padding: 0%;

}
.mainNavBarList {
    display: inline-table;
    margin: 5px;
    background-color: rgb(230, 239, 239);
    padding: 10px;
    width: 15%;
    border-radius: 15px;
}
h1 {
    font-size: xx-large;
    color: rgb(215, 234, 160);

}

u {
    font-size: xx-large;
    color: rgb(242, 221, 179);
}

mark {
    color: rgb(255, 140, 0);
}






p {
    height: 450px;
    width: 470px;
    background: yellow;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/civ.jpg");

    background-size: 430px 430px;
}

.v {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egy.jpg");

    background-size: 430px 430px;
}

.a {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt2.jpg");

    background-size: 430px 430px;
}

.q {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt1.jpg");

    background-size: 430px 430px;
}

.w {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt3.jpg");

    background-size: 430px 430px;
}

.e {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt4.jpg");

    background-size: 430px 430px;
}

.r {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt5.jpg");

    background-size: 430px 430px;
}

.t {
    height: 430px;
    width: 430px;
    background: yellow;
    border: blue 20px solid;
    background-image: url("assets/image/egypt6.jpg");

    background-size: 430px 430px;
}
#footer{
    background-color: bisque;
    font-size: 20px;
}